{% extends 'base.html.twig' %}

{% block title %}Créer un Nouvel Utilisateur{% endblock %}

{% block body %}
<div class="content-card">
    <h1>Créer un Nouvel Utilisateur</h1>

    {{ include('utilisateur/_form.html.twig', {'button_label': 'Créer l\'utilisateur'}) }}

    <a href="{{ path('app_admin_utilisateur_index') }}" class="btn btn-link mt-3">Retour à la liste des Utilisateurs</a>
</div>
{% endblock %}
