<form method="post" action="{{ path('app_admin_ticket_delete', {'id': ticket.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce ticket ?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
    <button class="{{ button_class|default('btn btn-danger btn-sm') }}">{{ button_label|default('Supprimer') }}</button>
</form>
